<section class="sections">
  <div id="section-1">
    <div class="hero-1">
      <div class="title">Welcome to Odin Social</div>
      <div class="text">Connect with friends, fancy posts, images, and even more...</div>
      <%= button_to 'Sign in', posts_path %>
    </div>
    <div class="hero-2">
      <%= image_tag 'social.jpg', alt: 'Social' %>
    </div>
  </div>
  <div id="section-2">
    <div class="quotes">
      <div class="text">Humans are social beings, and we are happier, when connected to others</div>
      <div class="author">- Paul Bloom</div>
    </div>
  </div>
  <div id="section-3">
    <div class="model">
      <div class="content">
        <div class="title">It's time to connect!</div>
        <div class="text">One step to connect with our social by clicking that button right over there</div>
        <%= button_to 'Sign In', posts_path %>
      </div>
    </div>
  </div>
</section>