<div>
  <%= link_to notification.content, notification.path %> 
  - 
  <%= content_tag :span, notification.created_at.strftime('%d %b %Y - %H:%M') %>
  - 
  <%= link_to 'Delete notification', notification, data: { turbo_method: 'delete' }%>
</div>