<div id=<%= "recent_notification_#{n.id}" %>>
  <%= link_to n.content, n.path %>
  -
  <%= form_with url: update_notification_hidden_path(n), method: 'put' do |form| %>
    <%= form.submit 'Hide' %>
  <% end %>
</div>
  