<% if @user == current_user %>
  <h1>Profile</h1>
<% else %>
  <h1>User</h1>
<% end %>

<%= render @user %>

<h2>Posts</h2>
<% if current_user == @user || current_user.friendship_confirmed?(@user) %>
  <%= render Post.where(user_id: @user.id).order(created_at: :desc).limit(10) %>
<% else %>
  <div>Add <%= @user.email %> as a friend to see his/her posts.</div>
<% end %>