<h1>New post</h1>
<%= turbo_frame_tag id='new_post' do %>
  <% if @post.errors.any? %>
    <div id="error_explaination">
      <h2><%= plularize(@post.errors.count, 'error') %> prohibited the post from being saved.</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>   
    </div>
  <% end %>

  <%= render 'post_form', post: @post %>
<% end %>
