@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: Roboto, sans-serif;
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  height: 50px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header-links {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  list-style-type: none;
}

.header-links a {
  border: 2px solid #F9FAF8;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: #E5E7Eb;
  font-size: 18px;
}

.header-links a:hover {
  background-color: #F9FAF8;
  color: #1F2937;
}


html {
  scroll-behavior: smooth;
}

.notification-hide-button:hover {
  cursor: pointer
}

.notification-symbol:hover,
.close-symbol:hover {
  cursor: pointer
}

.main {
  flex-grow: 1;
}

.sign-in {
  padding: 8px 36px;
}

.footer {
  display: flex;
  height: 50px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #E5E7Eb;
  a {
    color: #E5E7Eb;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#section-1 {
  background-color: #1F2937;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  gap: 20px;
  padding: 120px;
}

.notification-symbol {
  border: 2px solid #F9FAF8;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: #E5E7Eb;
  font-size: 18px;
  margin-right: 20px;
}

.notification-symbol:hover {
  background-color: #F9FAF8;
  color: #1F2937;
}

.nav-notification-and-links {
  display: flex;
  align-items: center;
}

.nav-notification-and-links button {
  margin: 16px 0;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: unset;
}

.notifications-unread {
  animation: 1s change-color infinite alternate ease-in;
}

.notifications {
  position: absolute;
  top: 64px;
  right: 240px;
  width: 390px;
  padding: 0px 0px 24px 16px;
  visibility: hidden;
}

.notifications h2 {
  margin-top: 0;
  margin-right: 16px;
}

.notification {
  margin: 4px 16px 4px 0;
  padding: 8px 16px 8px 8px;
  display: flex;
}

.notification-info {
  display: flex;
  flex-grow: 1;
}

.notification-date {
  font-size: 12px;
  color: rgb(100, 100, 100);
  padding: 0 24px 0 8px;
}

.notification-text-and-date {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.notification-hide-form {
  text-align: end;
}

.notification-photo {
  width: 64px;
  height: 64px;
}

.notification-text {
  flex-grow: 1;
  padding: 4px 24px 0 8px;
  margin: 0;
}

.notification-hide-button {
  margin-right: 4px;
}

.notification-hide-button:hover,
.notification-hide-button:focus {
  transform: scale(1.8);
}

.show {
  visibility: visible;
}

.notifications-title-close {
  margin: 8px 8px 0 0;
  text-align: end;  
}

.all-notifications-link {
  margin: 16px 16px 0 0;
  text-align: center;
}

.notifications {
  margin: 30px 0;
  background-color: white;
  border: 3px solid #8200E0;
}

.notification {
  border: 1px solid rgb(211, 211, 211);
}

.notification-hide-button {
  background-image: url('visibility_blind.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  transform: scale(1.5);
  border: none;
}

.notification-info:link,
.notification-info:visited,
.notification-info:hover,
.notification-info:active {
  text-decoration: none;
  color: black;
}

.all-notifications-link a:link,
.all-notifications-link a:visited,
.all-notifications-link a:hover,
.all-notifications-link a:active {
  text-decoration: none;
  color: #8200E0;
}

.notification:hover,
.notification:focus {
  border: 1px solid #8200E0;
}

.notification-symbol {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

.all-notifications-link a {
  font-size: 16px;
  font-weight: bold;
}

.close-symbol {
  color: white;
  border: 1px solid #3882F6;
  background-color: #8200E0;
  padding: 3px 8px;
}

.hero-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  .title {
      font-size: 48px;
      font-weight: bolder;
      color: #F9FAF8;
  }
  .text {
      font-size: 18px;
      color: #F9FAF8;
  }
  button {
    align-self: flex-start;
    cursor: pointer;
    padding: 8px 24px;
    margin-top: 8px;
    background-color: #008DDA;
    border: 1px solid #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 4px;
  }
  button:hover {
    background-color: #41C9E2;
  }
}

.hero-2 {
  min-width: 60%;
  height: 250px;
  display: flex;
  background-color: gray;
  color: #E5E7EB;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#section-2 {
  background-color: #E5E7EB;
  padding: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .text {
      width: 70%;
      margin: auto;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      color: #1F2937;
  }
  .author {
      padding-right: 18%;
      display: flex;
      justify-content: flex-end;
      font-size: 24px;
      font-weight: 900;
  }
}

#section-3 {
  padding: 80px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  .model {
    padding: 40px 80px;
    display: flex;
    background-color: #B0C5A4;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 8px;
    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 40%;
      .title {
        font-size: 24px;
        font-weight: 900;
        color: #E5E7EB;
      }
      .text {
        color: #E5E7EB;
      }
    }
    button {
      align-self: center;
      padding: 8px 30px;
      cursor: pointer;
      background-color: #008DDA;
      color: #E5E7EB;
      font-size: 16px;
      font-weight: bold;
      border: 2px solid #E5E7EB;
      border-radius: 8px;
    }
    button:hover {
      background-color: #41C9E2;
    }
  }
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.container-1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 420px;
  background-color: bisque;
}

.container-1-left:first-child {
  margin-bottom: 8px;
}

.container-1-left:last-child {
  margin-top: 32px;
}

.container-1-right {
  height: 300px;
  width: 670px;
  background-color:blue;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 40px;
}

.container-2 > div {
  margin-bottom: 16px;
}

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 104px 40px;
}

.post, .comment {
  border: 1px solid black;
}

.error {
  color: #E05100;
}

.alert {
  background-color: #E05100;
}

.notice {
  background-color: #C6E000;
}

.success {
  background-color: #A5DD9B;
}

.alert, .notice, .success {
  text-align: center;
  padding: 12px 0;
}

.field_with_errors #user_email,
.field_with_errors #user_password,
.field_with_errors #user_password_confirmation {
  border: 1px solid #E05100;
}

.field_with_errors #user_email:focus,
.field_with_errors #user_password:focus,
.field_with_errors #user_password_confirmation:focus {
  border: 2px solid #E05100;
  outline: #E05100;
}

.success {
  color: green;
}

.scroll-into {
  border: 2px solid #E05100;
}

 /* MAKE IT RESPONSIVE */
 @media (max-width: 1599px) {
  .sections {

  }
 }

 @media (max-width: 1280px) {
  .sections {

  }
 }

 @media (max-width: 767px) {
  .hero-2 {
    display: none;
  }
 }

 @media (max-width: 360px) {  
  .sections {

  }
 }

 /* COLORS, BACKGROUNDS AND BORDERS */
.post, .comment {
  border: 1px solid black;
 }

.error {
  color: red;
}

.field_with_errors {
  border: 1px solid red;
}

.scroll-into {
  border: 2px solid red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

