/* GENERAL SETTINGS */
.password-modal .actions > input {
  cursor: pointer;
}

/* ELEMENT SIZE AND POSITIONING */
.password-window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-modal {
  width: 435px;
  padding: 40px 32px 40px 32px;
  margin: 80px 0;
}

.password-modal .stretch {
  width: 100%;
  height: 64px;
  padding: 1px 0px;
}

.password-modal #user_email {
  margin-bottom: 24px;
}

/* COLORS, BACKGROUNDS AND BORDERS */
.password-modal {
  border: 1px solid black;
}

.password-modal .actions > input {
  background-color: #C6E000;
  border: 1px solid white;
  border-radius: 5px;
}

.password-modal .actions > input:hover {
  border: 1px solid #C6E000;
}

/* FONTS */
.password-modal .field label,
.password-modal .actions > input {
  font-size: 18px;
}

.password-modal .field input {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

/* MAKE IT RESPONSIVE */
@media (max-width: 530px) {
  .password-modal {
    border: none;
    margin: 0 0;
    padding: 0 32px;
  }
}